html * {
  box-sizing: content-box;
  font-family: "Fredericka the Great", cursive;
  color: white;
  text-align: center;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
}
body {
  background-image: url("./images/pendu_Background.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
main {
  display: grid;
  grid-template-areas:
    ". title ."
    "letters img points"
    ". word ."
    ". result ."
    ". enter .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 3fr 0.5fr 1fr 0.5fr;
  margin: 0 auto;
  gap: 0.5em;
  height: 80vh;
  padding: 3em;
}
.title {
  grid-area: title;
}
.title h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.points {
  grid-area: points;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
}
.img {
  grid-area: img;
  width: 100%;
}
#hangman {
  width: 100%;
}
.letters {
  grid-area: letters;
  display: block;
  width: 90%;
  height: 90%;
  padding: 2em;
}
.word {
  grid-area: word;
}
.result {
  grid-area: result;
}
.enter {
  grid-area: enter;
}
#hangman {
  margin: 0 auto;
}
#word {
  white-space: pre;
  margin-left: 1em;
}
.btn {
  color: #fff;
  font-size: 1em;
  padding: 1em 1em;
  border: solid #fff 2px;
  text-decoration: none;
  background-color: transparent;
}

.btn:hover {
  border: dashed #fff 2px;
  cursor: pointer;
}
